@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body{
  margin: 0;
  font-family: 'Barlow', sans-serif;
}
.App {
  max-width: 1200px;
  margin: 70px auto 0;
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  border-radius: 3px;
  text-align: center;
}
.App h1 {
  background-color: #f9f9f9;
  text-align: center;
  padding: 20px;
  margin: 0;
  font-size: 34px;
}
.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 37px 0;
}
.col__box{
  background-color: #ffffff;
  padding: 47px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  border-radius: 3px;
}
h5 {
  font-size: 30px;
  color: #000000;
  margin: 0 0 27px 0;
  font-weight: 700;
}
.btn__default{
  position: relative;
  overflow: hidden;
  z-index: 1;
  display: inline-block;
  font-size: 16px;
  text-transform: uppercase;
  height: 58px;
  line-height: 58px;
  padding: 0 42px;
  font-weight: 700;
  background-color: #00d665;
  border-radius: 50px;
  transition: all 0.4s ease-in-out;
  color:white;
  border:0px;
  cursor: pointer;
}
h6 {
  font-size: 23px;
  margin: 20px 0 25px 0;
  font-weight: 400;
}
h6 span{
	font-size: 23px;
  color: #ff1100;
  font-weight: 600;
}
.status {
  border: 1px solid lavender;
  padding: 37px;
  width: 100%;
}
.status p {
  text-align: left;
  font-size: 18px;
  font-weight: 500;
}
.status h4 {
  text-align: left;
  font-size: 27px;
}